extends layout

block content
  h1 Guitar to Piano Converter
  //Guitar image
  div.container(ng-controller="converterCtrl")
    div(class='guitar' ng-include="'/images/guitar.svg'")
    div(class='piano' ng-include="'/images/piano.svg'")