extends layout

block content
  h1 Guitar to Piano Converter

  div.guitar
    img(class='guitar-image' src="/images/guitar_neck.jpg")

  div.piano
    embed(class='piano-image' src='/images/piano.svg')