extends layout

block content
  div.header
    h1 Guitar to Piano Converter
  //Guitar image
  div.container(ng-controller="converterCtrl")
    h3 Click frets on the guitar to display the corresponding notes on the piano
    div(class='guitar' ng-include="'/images/guitar.svg'")
    div(class='piano' ng-include="'/images/piano.svg'")
    //div.menu
    //  h2 Pick a chord
    //  div.root
    //    p E
    //  div.chord
    //    p major
    div.footer
      p Copyright &#169; 2016 Connor Klausing