doctype html
html(ng-app="app")
  head
    meta(content='width=device-width', initial-scale=1.0, maximum-scale=1.0, user-scalable=0, name='viewport')
    meta(name="google-site-verification" content="Hta2Fk0pWViBvPqZ2pqrYB1PXZhycimzUDfFEbpXNu4")
    title Guitar To Piano Converter | Convert Your Guitar Tabs to Piano Chords!
    meta(name="description" content="Guitar To Piano Converter - Convert your guitar tabs to piano chords online. This converter is free, easy to use, and interactive. Enjoy!")
    meta(name="wot-verification" content="36941df19cee17510586")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" type="text/css" media="only screen and (max-width: 750px), only screen and (max-device-width: 480px)" href="/stylesheets/small.css")
    link(rel="stylesheet" type="text/css" media="only screen and (max-width: 480px), only screen and (max-device-width: 600px)" href="/stylesheets/mobile.css")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
    script(src='/vendors/angular.min.js')
    script(src='/javascripts/scripts.js')
  body
    block content