.header {
    text-align: left;
    padding-left: 5%;
    font-size: 2em;
}

.container {
    margin-top: 80px;
}

.container h3 {
    display: none;
}

.piano, .guitar {
    width: 95%;
    padding: 2px;
}

.chordbox h2 {
    font-size: 1em;
    padding: 10px;
}

select {
    width: 80%;
    margin: 10px;
}

.menubutton {
    width: 40px;
}