/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End CSS Reset*/

/*Begin Custom CSS*/
body {
	font-family: 'Open Sans', sans-serif;
  	text-align: center;
  	overflow: hidden;
}

.header {
	width: 100%;
	padding: 20px 0;
	display: block;
	position: fixed;
	background: linear-gradient(#57BCEF, #226688);
	color: white;
	text-shadow: #222 -1px -1px 1px;
	box-shadow: 0 2px 2px #222;
	font-size: 3em;
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.container {
	width: 100%;
	display: inline-block;
	margin-top: 130px;
	font-size: 1.3em;
}

.piano, .guitar {
  width: 80%;
  display: block;
  padding: 20px;
  margin: 0 auto;
}

.menu {
	width: 30%;
	position: absolute;
	text-align: center;
	height: 100%;
	z-index: 1;
	right: -30%;
	top: 0;
	background: linear-gradient(to left, #706F6F, #7A7A7A);
	box-shadow: none;
	transition: all 0.5s ease;
	border: 1px solid rgba(0, 0, 0, 0.35);
}

.chordbox h2 {
	font-size: 2em;
	padding: 20px;
	background: linear-gradient(#57BCEF, #226688);
	color: white;
	text-shadow: #222 -1px -1px 1px;
	box-shadow: 0 1px 4px #222;
	border-bottom: 1px solid rgba(0, 0, 0, 0.7);
	cursor: default;
}

select {
	margin: 10px;
	font-size: 1.33em;	
}

.chordbox submit {
	display: block;
	width: 100px;
	padding: 10px 0;
	margin: 0 auto;
	font-size: 1.5em;
	border-radius: 20px;
	background: linear-gradient(#57BCEF, #226688);
	color: white;
	text-shadow: #222 -1px -1px 1px;
	box-shadow: 0 1px 6px black;
	cursor: default;
}

.chordbox submit:hover {
	box-shadow: 1px 1px 10px black;
	background: linear-gradient(#5CC3F7, #277399);
}

.chordbox submit:active {
	box-shadow: 1px 1px 10px black;
	background: linear-gradient(#277399, #51ACDA);
}

.menubutton {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 50px;
	height: 50px;
	border: none;
	z-index: 2;
	transition: right 0.5s ease;
}

.footer {
	width: 100%;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	background: linear-gradient(#57BCEF, #226688);
	color: white;
	text-shadow: #222 -1px -1px 1px;
	box-shadow: 1px 1px 1px #222;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

/*click-triggered classes*/
.menuactive {
	right: 0;
	box-shadow: -1px 0 30px rgba(0,0,0,0.5);
}

.buttonActive {
	right: 32%;
}

/*Initial Vector Styling */
.cls-24, .cls-25, .cls-26, .cls-27, .cls-28 {
	stroke: #000;
	opacity: 0;
}

/*button classes*/
.m-cls-1 {
    fill: #FAFAFA;
}

/*piano classes*/
.p-cls-1 {
	fill: #1a1a1a;
}

.p-cls-2 {
	fill: #333;
}

.p-cls-3 {
	fill: #f7f6f5;
	stroke: #000;
	stroke-miterlimit: 10;
}

/*Click-triggered Vector Styling*/
.active {
	opacity: 1;
}

.keyactive {
	fill: #00A6E5;
}

.keyshadowactive {
	fill: #00739F;
}