/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End CSS Reset*/

/*Begin Custom CSS*/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {
  width: 100%;
  padding: 20px 0;
  display: block;
  text-align: center;
  position: fixed;
  background: linear-gradient(#57BCEF, #226688);
  color: white;
  text-shadow: #222 -1px -1px 1px;
  box-shadow: 2px 2px 2px #222;
  font-size: 3em;
}

.container {
	width: 100%;
	display: inline-block;
	margin-top: 130px;
}

.menu {
	width: 20%;
	position: absolute;
	display: inline-block;
	text-align: center;
	height: 100%;
	background-color: blue;
}

.piano, .guitar {
  width: 80%;
  display: block;
  padding: 20px;
  margin: 0 auto;
}

/*Initial Vector Styling */
.cls-24, .cls-25, .cls-26, .cls-27, .cls-28 {
	stroke: #000;
	opacity: 0;
}

.p-cls-1 {
	fill: #1a1a1a;
}

.p-cls-2 {
	fill: #333;
}

.p-cls-3 {
	fill: #f7f6f5;
	stroke: #000;
	stroke-miterlimit: 10;
}

/*Click-active Vector Styling*/
.active {
	opacity: 1;
}

.keyactive {
	fill: #00A6E5;
}

.keyshadowactive {
	fill: #00739F;
}